@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.shadow{
    box-shadow: 5px 10px #f3f3f3;
}
.qr_code {
    text-align: center;
}
.panel {
    box-shadow: 0px 4px 12px 4px rgb(0, 0, 0, 0.1);
    border-radius: 1.78571rem;
    padding: 2.25rem 2rem;
}
.panel-body {
    padding: 15px 0;
}
.panel .descripation_title {
    font-size: 1.28571rem;
    font-weight: 700;
    color: #34245c;
}
.trending-apps {
    box-shadow: 0px 0px 10px 6px rgba(227, 229, 232, 0.4);
    border-radius: 0.4285714286rem;
    padding: 1rem;
    display: flex;
}
.trending-apps a{
    text-decoration: none;
    display: flex;
}
.trending-apps a .tipping-app-payment{
    display: inline-block;
    flex: 2 1;
} 
.trending-apps a .tipping-app-payment img {
    height: 2.6rem;
    vertical-align: bottom;
}
.trending-apps a .tipping-app-payment span {
    font-size: 1.8rem;
    color: #0560f7;
    margin-top: 2px;
    font-weight: 600;
}
/* .trending-apps .trending-apps-actions {
    float: right;
}
.trending-apps .trending-apps-actions i{
    font-size: 2rem;
    line-height: 40px;
} */
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mr-0, .mx-0 {
    margin-right: 0!important;
}
.text-left {
    text-align: left!important;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.trending-apps .trending-apps-actions .tipping_delete img {
    width: 1.57143rem;
    vertical-align: bottom;
}
.trending-apps .trending-apps-actions i {
    color: #60c8b1;
    vertical-align: middle;
}

 .panel .descripation_title {
    font-size: 20px;
    font-weight: 700;
    color: #372c54;
    text-align: left;
}
.qr_code-preview h4{
    font-weight: 600;
}

.panel .qr_code .qr_code-preview .qr_code_image {
    width: 100%;
    border: .28571rem solid #76f9fb;
    border-radius: .71429rem;
}
.media {
    width: 100%;
    border: .28571rem solid #76f9fb;
    border-radius: .71429rem;
    border: #9dadbd solid 0.0714285714rem;
    padding: 0.8571428571rem;
    border-radius: 0.4285714286rem;
    display: block;
    position: relative;
    text-align: center;
}
.media img {
    height: 100%;
    width: 100%;
    border-radius: .71429rem;
}

.profile {
    display: flex;
}
.profile img {
    flex: 1 1;
    border-radius: 50%;
    width: 2.8571428571rem;
    /* height: 2.8571428571rem; */
}
.profile-details {
    flex: 3 1;
    margin-left: 0.7142857143rem;
}
.profile-details h3 {
    margin-top: 0;
    color: #372c54;
}
.profile-details .details_link {
    background: #234c7a;
    color: #fff;
    border-radius: 0.4285714286rem;
    width: auto;
    box-shadow: 0px 0px 10px 6px rgb(227 229 232 / 40%);
    padding: 4px 10px 4px;
    margin-top: 0;
    display: inline-block;
    font-size: 12px;
}

.social-media {
    display: flex;
    margin: 0.3571428571rem 0rem 0.7142857143rem;
}
.social-media .icons {
    margin: auto;
}
.social-media .icons img {
    height: 24px;
    margin: 10px 4px;
}


@media screen and (min-width: 992px) and (max-width: 1024px) {
    .panel {
        padding: 2.25rem 1rem;
    }
}
